<h1>Create New Purchase</h1>

<% if @customers.blank? %>
	<h2> No customer profile </h2>
	Create <%= link_to 'one', new_customer_path %>?
<% elsif @products.blank? %>
	<h2> No product available! </h2>
	Create <%= link_to 'one', new_product_path %>?
<% elsif @discounts.blank? %>
	<h2> No discounts available! App won't work without one active discount.</h2>
	Create <%= link_to 'one', new_discount_path %>?
<% else %>
	<%= render 'form' %>
<% end %>

<br>
<%= link_to 'Back', products_path %>